[Unit]
Description=RPI Controller: Binary to control the Zumo
After=syslog.target
After=rsyslog.service
After=network.target
After=rpi_updater.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=python3 /root/local/test.py
Restart=always               

