[Unit]
Description=RPI Updater: Auto Updater for the RPI Controller
After=syslog.target
After=rsyslog.service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=RPI_SLEEP=1 NO_CLONE=1 /usr/bin/env bash /root/local/update.sh
Restart=always  

[Install]
WantedBy=multi-user.target
