[Unit]
Description=RPI Controller: Binary to control the Zumo
After=syslog.target
After=rsyslog.service
After=network.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/root/local/main.out
Restart=always               

[Install]
WantedBy=multi-user.target
